body {
  background-color: #d8d8d8;
}

#car1 {
  overflow: visible;
}

.carousel-indicators {
  transform: translateY(50px);
}
.jumbotron {
  background-image: url("https://www.spielekauf.de/assets/images/offers/GOG-Visa-Children-of-Morta.jpg");
  background-size: cover;
}
